body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    gap: 10px;
    background-color: rgb(255, 225, 125);
}

.resizebtn{
    font-size: 18px;
    background-color: rgb(44, 239, 87);
    width: 100px;
    height: 50px;
    
}

div{

}

.content{
    display: flex;
    justify-content: center;
}

.gridContainer{
    display: flex;
    justify-content: center;
    max-width: 650px;
    width: 650px;
     
    outline: auto;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column{
    background-color: white;
    border-style: solid;
}

.leftContent{

    outline: auto;
    flex-shrink: 0;
}

.rightContent{
  
    outline: auto;
    flex-shrink: 0;
}